
<!DOCTYPE html>
<html>
<head>
    <title>HealBox</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
<main class="main">
  <aside class="sidebar">
    <nav class="nav">
      <ul>
        <li class="active"><a href="/">Welcome</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
<!--         <li><a href="#">Get In Touch</a></li> -->
      </ul>
    </nav>
  </aside>

  <section class="twitter">
    <div class="container">
      <a target="_blank" href="https://twitter.com/ReisnerShawn">
        <img class="social" src="https://www.svgrepo.com/download/20675/open-cardboard-box.svg">
      </a>
      <p>Welcome to</p>
      <p>Heal Box</p>
    </div>
  </section>
</main>

</body>
</html>

